<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugasintent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tugasintent.NoActionBar">
        <activity android:name=".Form"
            android:label=" "
            android:parentActivityName=".Awal"
            android:theme="@style/Theme.Tugasintent" />
        <activity android:name=".DetailAnggota"
            android:label="Detail Anggota"
            android:parentActivityName=".AnggotaKelompok"
            android:theme="@style/Theme.Tugasintent" />
        <activity
            android:name=".Dataform"
            android:label="Dataform"
            android:parentActivityName=".Form"
            android:theme="@style/Theme.Tugasintent" />
        <activity android:name=".AnggotaKelompok"
            android:label="Anggota Kelompok"
            android:parentActivityName=".Awal"
            android:theme="@style/Theme.Tugasintent" />
        <activity
            android:name=".Penjelasan"
            android:label="Penjelasan Intent"
            android:theme="@style/Theme.Tugasintent"
            android:parentActivityName=".Awal" />
        <activity android:name=".Awal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>